
<div class="jumbotron bg-1 text-center">
   <h2 class="title" style="color:white">Welcome to Your Course App</h2>
   <p  class="slogan">this is the home page for the RAD Assignment 2</p>
  <br>
  <br>
   <p class="lead"><%= link_to("Sign up now!", signup_path, class: "btn btn-lg btn-danger") %>
   </p>
</div>
